h1 {
    text-align: center;
    color: black;
    padding-top: 15px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 45px;
}



span {
    color: rgb(152,54,245);
}



section {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px ;
    padding-left: 70px;
    padding-right: 70px;
}

.bullet-points {
    padding-top: 15px;
}

.more-bullet-points {
    padding-top: 12px;
}

.contact {
    text-decoration: none;
    color: rgb(152,54,245);
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: rgb(152,54,245);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

footer {
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.personal {
    padding-bottom: 90px;
}